.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
    justify-content: center;
  }
  .product-category {
    font-weight: bold; 
    font-size:xx-large; 
    margin-left: 50px; 
    margin-top: 40px; 
    margin-bottom: 40px;
  }