/* footer.component.css */

footer {
    background-color: #111429;
    color:white;
    padding: 20px;
    
    
}
.row-div{
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.column {
    flex: 1;
    text-align: left;
    padding: 0 15px;
}

h3 {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ddd; 
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0; /* Prevents the social-icons from growing to fill the container */
    flex-shrink: 1; /* Allows the social-icons to shrink if necessary */
}

.social-icons a {
    margin-right: 10px; /* Adjust spacing between icons */
}

.language-switch {
    margin-left: auto; /* This will push the language switch to the extreme right */
    flex-grow: 0; /* Prevents the language switch from growing */
}
.language-switch button{
    background-color: rgba(255, 255, 255, 0); /* Transparent white background */
    color: white; /* White text color */
    text-decoration: none; /* Remove underline for anchor element (optional, adjust as needed) */
    border: none; /* Remove border (optional, adjust as needed) */
    cursor: pointer; /* Set cursor to pointer for better interaction */
}
.social-icons svg{
    width: 40px;
}
