<div class="product-card-container">
    @if(product.maximum <= 0){
        <img src="../../assets/pictures/out-of-stock.png" alt="Slimited" class="ofs-offer-image">
    }@else {
        @if (product.maximum < 5) {
            <img src="../../assets/pictures/limited.png" alt="Slimited" class="limited-offer-image">
        }
        @if (product.sale > 0) {
            <img src="../../assets/pictures/sale.png" alt="Slimited" class="sales-offer-image">
        }
    }
        
            <img [src]="product.imgUrl" 
                alt="Product Image" 
                class="product-image"
                [ngClass]="{'blur-effect': product.maximum <= 0, 'opacity-effect': product.maximum <= 0}">

        <div class="product-details">
            <div class="product-name">{{ product.productName }}</div>
            <div class="product-price">€{{ product.sale === 0 ? (product.price | number:'1.2-2') : ((product.price - product.price * product.sale*0.01) | number:'1.2-2') }}</div>
            @if (product.maximum < 1) {
                <p class="warning">Out of stock</p>
            }
            @else{
                @if (product.maximum < 5) {
                    <p class="warning">Only {{ product.maximum}} left in stock !</p>
                }@else {
                    @if (product.sale > 0) {
                        <p class="warning">{{ product.sale}}% off!</p>
                    }
                } 
            }
        </div>
        @if (product.maximum >0){
            <button class="add-to-cart-btn" [class.is-in-cart]="isInCart" [disabled]="isInCart" (click)="addToCart()">
                {{ isInCart ? 'Added to cart!' : 'Add to Cart' }}
              </button>
        }
</div>