.product-card-container {
    width: 239px;
    height: 426px;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: "Figtree";
  }
  
  .product-image {
    width: 238px;
    height: 318px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product-price {
    color: #1f264f;
    font-size: 1.2em;
  }
  
  .add-to-cart-btn {
    color: white;
    background: linear-gradient(to right, #3da9ea 0%, #58ced0 100%);
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
  }
  
  .add-to-cart-btn:hover {
    transform: scale(1.05); 
  }
  
  .is-in-cart {
    color: transparent;
    background: white;
    border: 3px solid #3da9ea;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #3da9ea 0%, #58ced0 100%);
    pointer-events: none; 
  }
  
  .is-in-cart:hover {
    transform: none;
  }

  .limited-offer-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; 
    height: auto; 
}
.sales-offer-image{
  position: absolute;
    top: 0;
    right: 0;
    width: 50px; 
    height: auto; 
}
.ofs-offer-image{
  position: absolute;
  top: 0;
  right: 50%;
  width: 100px; 
  height: auto; 
}
.blur-effect {
  filter: blur(1px); 
}

.opacity-effect {
  opacity: 0.5; 
}
